.container-fluid
{
    background-color: rgba(52,53,58,255);
}
.contact 
{
    border-radius: 30px;
    border: 2px solid #cdb970;
    margin-top: 5%;
    max-width: fit-content;
    min-width: fit-content;
    color:  #cdb970;
}
.contact:hover 
{
    color:black;
    background-color:  #cdb970;
    border: 2px solid #000000;
}
.contact:hover a
{
    color:black;
    
}
.link
{
    text-decoration: none;
    color: #cdb970;
}

.link:hover
{
    color:black;
    background-color:  #cdb970;
    text-decoration: none;
   
}
.thn
{
    color: #cdb970;
}


